<!-- <img (click)="openCreateForm()" *ngIf="create==true" src="../../../assets/icons/newnewx48.ico" alt="" class="newnewsicon cursor">
<img (click)="openCreateForm()" *ngIf="create==false" src="../../../assets/icons/returnx48.ico" alt="" class="newnewsicon cursor">

<div class="container-fluid" *ngIf="create===true" style="background: transparent;">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8 masternewscol"> -->
      <div class="row newsrow" *ngIf="create===true">
          <div class="col-lg-12" >
            <div class="newsdiv" *ngFor="let news of newsArray">
              <div class="row">
                <div class="col-lg-12">
                  <span style="font-size: .7em;" *ngIf="news.time!=0" >La publicacion expirara en {{news.time}} dia(s)</span>
                  <span style="font-size: .7em;" *ngIf="news.time===0" >La publicacion expirara en 1 dia</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <section>
                    <img src="{{news.image}}" alt="" class="newsimages">
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="navlikes">
                    	<p *ngIf="news.like.includes(uid)==false" (click)="getLikes(news.admin,news.description,news.dislike,news.endDate,news.key,news.like,news.startDate,news.title,'like',news.imgaux)"><i class="far fa-heart text-dark likeicons"></i></p>
                    	<p *ngIf="news.like.includes(uid)==true" (click)="getLikes(news.admin,news.description,news.dislike,news.endDate,news.key,news.like,news.startDate,news.title,'like',news.imgaux)"><i class="fas fa-heart text-danger likeicons"></i></p>
                    	<p *ngIf="news.dislike.includes(uid)==false" (click)="getLikes(news.admin,news.description,news.dislike,news.endDate,news.key,news.like,news.startDate,news.title,'dislike',news.imgaux)"><i class="fas fa-heart-broken text-dark likeicons"></i></p>
                      <p *ngIf="news.dislike.includes(uid)==true" (click)="getLikes(news.admin,news.description,news.dislike,news.endDate,news.key,news.like,news.startDate,news.title,'dislike',news.imgaux)"><i class="fas fa-heart-broken text-danger likeicons"></i></p>
                  </div>
              </div>
              <div class="row">
                <nav class="countlikes">
                  <ul>
                    <p>{{news.like.length}} likes</p>
                    <p>{{news.dislike.length}} dislikes</p>
                  </ul>
                </nav>
              </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <p class="descriptionp"><strong class=" titlep" >{{news.title}}. </strong>{{news.description}}</p>
                </div>
              </div>
              <div class="row">
              <div class="col-md-2">
                <div class="row"  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12">

              <div class="tbl-content">
                <p>Noticias</p>
                <hr>
                <div class="countlikes">
                    <p>likes</p>
                    <p>dislikes</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    <!-- </div>
  </div>
</div>

<div class="container-fluid" *ngIf="create===false" style="background: transparent;">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-8 masterformcol">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
      </div>
      <div class="row rowformsnew" >
        <div class=" col-lg-12 border">
          <form #newsForm="ngForm" name="newsForm" (submit)="createNew(newsForm, newsForm.value)">
            <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <img src="{{url}}" class="avatar" alt="news images" *ngIf="url">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <input type="file" (change)="loadImage($event)" id="file" accept=".png,.jpg"/>
                    <label for="file" class="btn-2">Upload Image</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="title" class="title">Title</label>
                      <div class="FieldElement">
                      <input type="text" name="title" ngModel class="form-control inputsform" >
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea name="description" ngModel class="form-control" rows="9" cols="90"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="finishDate">Publication End Date</label>
                      <input type="date" name="finishDate" ngModel class="form-control inputsform">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <button type="submit" class="btn createbtn" name="button">Create</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
