.newsdiv{
	// height: 450px;
	width: 100%;
	border-radius: 9px;
	padding: 3%;
	box-shadow: 0px 0px 16px -4px rgba(184,184,184,1);
}
.newsdiv img{
	height: 360px;
	width: 100%;
	border-radius: 9px;

}

.row span{
  color:black;
  margin-left: 10%;
}
i{
  font-size: 17px;;
}
.border{
	-webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	padding: 2%;
	// margin: 3%;
}
.rowformsnew{
	// padding-top: 2%;
	// padding-right: 2%;
	// padding-bottom: 2%;
	padding: 1%;
}
.avatar{
	height: 270px;
	width: 300px;
	border-radius: 9px;
	margin: 3%;
}
.title{
	// font-family: 'Stoke', serif;
	margin-bottom: 1%;
}
label{
	color: var(--input-text-color);
	margin: 0;
	padding: 0;
	// font-family: 'Stoke', serif;

}
.inputsform{
	padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	// font-family: 'Stoke', serif;
	height: bold;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 18px;
	border: 0;
	color: var(--input-text-color);
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
.FieldElement input {
	// border:1px solid #ccc;
	padding: 0 1.8em 0 1.8em;
	// padding-right: 18px;
}
.inputsform:hover{
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
.inputsform:focus{
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
textarea{
	background-color: transparent;
	color: var(--input-text-color);
	font-family: 'Noto Serif', serif;
	max-height: 120px;
	box-shadow: 0px 0px 16px -4px rgba(184,184,184,1);
}
textarea:focus{
	background-color: transparent;
	color: var(--input-text-color);
	box-shadow: 0px 0px 0px 0px;
}
.newsimages{
	// transform: scale(1.1);

}
// start input file style
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
	padding-top: 0;

}

[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: .5rem 90px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }
  &.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      color: #fff;
			font-family: "Font Awesome 5 Free";
		  content: "\f382";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 2.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;


    }

    &:hover {
      background-color: darken(#99c793, 30%);

      &::before {
        right: 75%;
      }
    }
  }
}
.createbtn{
	  background-color: darken(#99c793, 30%);
		color: white;
		border-radius: 18px;
		width: 30%;
}
