
.row span{
  color:black;
  margin-left: 10%;
}
i{
  font-size: 17px;;
}
.border{
	-webkit-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	box-shadow: 0px 1px 8px -2px rgba(0,0,0,0.52);
	padding: 2%;
	// margin: 3%;
}
.rowformsnew{
	// padding-top: 2%;
	// padding-right: 2%;
	// padding-bottom: 2%;
	padding: 1%;
}
.avatar{
	height: 270px;
	width: 250px;
	border-radius: 9px;
	margin: 3%;
}
.title{
	// font-family: 'Stoke', serif;
	margin-bottom: 1%;
}
label{
	color: var(--input-text-color);
	margin: 0;
	padding: 0;
	// font-family: 'Stoke', serif;

}
.inputsform{
	padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
	// font-family: 'Stoke', serif;
	height: bold;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 18px;
	border: 0;
	color: var(--input-text-color);
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
.FieldElement input {
	// border:1px solid #ccc;
	padding: 0 1.8em 0 1.8em;
	// padding-right: 18px;
}
.inputsform:hover{
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
.inputsform:focus{
	-webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.3);
}
textarea{
	background-color: transparent;
	color: var(--input-text-color);
	font-family: 'Noto Serif', serif;
	max-height: 120px;
	box-shadow: 0px 0px 16px -4px rgba(184,184,184,1);
}
textarea:focus{
	background-color: transparent;
	color: var(--input-text-color);
	box-shadow: 0px 0px 0px 0px;
}
.masternewscol{
	margin-top: 72px;
}
.newsrow{
	padding: 2px;
}
.newscol{
	padding: 0;
}
.newsdiv{
  background-color: rgb(255,255,255);
	padding: 0;
	// height: 450px;
	width: 100%;
	max-width: 720px;
	border-radius: 3px;
	// padding: 3%;
	border: 1px solid #DBDBDB;
	margin-bottom: 72px;
	// box-shadow: 0px 0px 16px -4px rgba(184,184,184,1);
}
.newsimages{
	height: auto;
	width: 100%;
	max-width: 720px;
}
.newsimagess{
	height: 350px;
	width: 100%;
	max-width: 720px;
}
.titlep{
	font-family: 'Playfair Display', serif;
	color: black;
	font-weight: bold;
}
.descriptionp{
	font-family: 'Yantramanav', sans-serif;
	font-weight: lighter;
	color: black;
}
.likeicons{
	font-size: 27px;
}
.navlikes{
	padding: 9px;
	text-align: left;

}
.navlikes i:hover{
	animation: swing ease-in-out 0.5s 1 alternate;
}
.navlikes p {
	
    display:inline-block;
    text-align: left;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
		margin-right: 27px;
		padding: 0;
}
.countlikes p {
    display:inline-block;
    text-align: right;
    line-height: 1.22;
    float:left;
    vertical-align:bottom;
		margin-right: 9px;
}
.countlikes{
  padding: 0;
  margin: 0;
}
.descriptiondiv{
	padding-left: 9px;
}
.newnewsicon{
	position: fixed;
	top: 72px;
	right: 36px;
	transition: .5s;

}
.newnewsicon:hover{
	transform: scale(1.1);
	transition: .5s;
}
.cursor{
	cursor: pointer;
}

.masterformcol{
	margin-top: 72px;
}
.infocol{
	position: fixed;

}
// .newsimages:hover{
// 	transform: scale(1.1);
// 	transition: 1s;
// 	margin: 2px;
// }
// start input file style
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
	padding-top: 0;

}

[type="file"] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: .5rem 90px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken(#f15d22, 10%);
  }
  &.btn-2 {
    background-color: #99c793;
    border-radius: 50px;
    overflow: hidden;

    &::before {
      color: #fff;
			font-family: "Font Awesome 5 Free";
		  content: "\f382";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 2.3;
      position: absolute;
      top: 0px;
      transition: all 0.3s;


    }

    &:hover {
      background-color: darken(#99c793, 30%);

      &::before {
        right: 75%;
      }
    }
  }
}
.createbtn{
	  background-color: darken(#99c793, 30%);
		color: white;
		border-radius: 18px;
		width: 30%;
}
.tbl-header{
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: .1em solid  rgb(103, 105, 106);
 }
.tbl-content{
  position: fixed;
  border: 1px solid red;
  height: 500px;
  overflow-x:auto;
  margin-top: 0px;
  padding-left: 1%;
  padding-right: 1%;
}
.user{

	margin-left: 2%;
	
	font-size: .8em;
	font-weight: bold; 
}
.userr{
    margin:  9px;
    margin-bottom:  0 !important;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	margin-left: 3%;
    

}
.mod{
	// margin-left: 5px;
	width: 60%;
}
.exp{
	// margin-left: 5px;
	text-align: right !important;
	width: 40%;
	padding-right: 20px;
	padding-top: 10px; 
	opacity: .7;
	color: gray;
}
.expiracion{
	font-size: .8em;
}
.sino{

}
.navlikess{
	

}
.navlikess i:hover{
	animation: swing ease-in-out 0.5s 1 alternate;
}
.navlikess p:hover {
	.navlikess i{
		animation: swing ease-in-out 0.5s 1 alternate;
	}

}
.navlikess p {
		
		text-align: center !important;

}