@import url(https://fonts.googleapis.com/css?family=Lato);
.container-fluid{
  padding-top: 5%;
}
.form-control{
  border-radius: 18px;

}
.btn{
  margin-top: 3%;
  border-radius: 18px;
}
p{
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-family: "Lato";
}
.img-rounded{
  border-radius: 50%;
  height: 72px;
  width: 72px;
}
.informs{
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding: 0;
  margin: 7px;
}
.informs:hover{
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}
.informs:focus{
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
}
label{
  padding-left: 5px;
  margin: 0;
}
.divbtn{
  background-color: rgb(255,255,255);
  width: 40%;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(161, 161, 161, 0.38);
  -moz-box-shadow: 0px 0px 4px 0px rgba(161, 161, 161, 0.38);
  box-shadow: 0px 0px 4px 0px rgba(161, 161, 161, 0.38);
  border-radius: 9px;
  cursor: pointer;
  // border: 1px solid rgba(161, 161, 161, 0.38);
}
