<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12 text-center">
      <h3>Registrar cuenta</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center margintop ">
      <div class="divbtn bg-info" (click)="googleSignUp()">
        <span class="text-white"><img src="assets/icons/google.png" alt="" >
        Google</span>
      </div>
    </div>
    <div class="col-md-6 text-center margintop">
      <!-- <div class="divbtn" (click)="auth.facebookSignUp()">
      <img src="assets/icons/facebooklogo.png" alt="" >
      Facebook
    </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center margintop">
      <span><i class="fas fa-long-arrow-alt-left text-primary" ></i><a routerLink="/login" href="" > Iniciar Sesion</a>
</span>
    </div>
  </div>
  <div class="row" *ngIf="auth.newUser$ | async as user">
    <div class="col-md-12  text-center">
      <p class="text-info">Informacion Personal</p>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" [src]="user.image">
        </div>
        <div class="user-info">
          <span class="user-name">{{user.fullName}}</span><br>
          <span class="user-status">
            <span>{{user.email}}</span>
          </span>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-12">
      <p class="text-info">Informacion Adicional</p>
      <form #registerForm="ngForm" name="registerForm" (submit)="registerNewUser(registerForm, registerForm.value)">
        <div class="form-group">
          <label for="">Employee Number</label>
          <input type="number" class="form-control informs" name="employeeNumber" ngModel>
        </div>
      <div class="form-group">
        <label for="">Department</label>
        <select class="form-control informs" name="department" ngModel>
          <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Plant</label>
        <select class="form-control informs" name="plant" ngModel>
          <option *ngFor="let plant of plants" value="{{plant.name}}">{{plant.name}}</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="">Role</label>
        <select class="form-control informs" name="role" ngModel>
          <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="">Birth Date</label>
        <input type="date" class="form-control informs" name="birthdate" ngModel>
      </div>
      <button type="submit" class="btn registerbtn" name="button">Registrarse</button>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
