<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4 text-center">
      <h2>REGISTER WITH: </h2>
      <hr>
    </div>
    <div class="col-lg-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/icons/google.png" alt="" (click)="googleSignUp()">
      Google |
      <img src="assets/icons/facebook.png" alt="" (click)="auth.facebookSignin()">
      Facebook
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row" *ngIf="auth.newUser$ | async as user">
    <div class="col-md-4  text-center">
      <p class="text-info">Personal Info</p>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" [src]="user.image">
        </div>
        <div class="user-info">
          <span class="user-name">{{user.fullName}}</span><br>
          <span class="user-status">
            <span>{{user.email}}</span>
          </span>
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-4">
      <p class="text-info">Additional Info</p>
      <form #registerForm="ngForm" name="registerForm" (submit)="registerNewUser(registerForm, registerForm.value)">
        <div class="form-group">
          <label for="">Employee Number</label>
          <input type="text" class="form-control informs" name="employeeNumber" ngModel>
        </div>
      <div class="form-group">
        <label for="">Department</label>
        <select class="form-control informs" name="department" ngModel>
          <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Plant</label>
        <select class="form-control informs" name="plant" ngModel>
          <option *ngFor="let plant of plants" value="{{plant.name}}">{{plant.name}}</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label for="">Role</label>
        <select class="form-control informs" name="role" ngModel>
          <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="">Birth Date</label>
        <input type="date" class="form-control informs" name="birthdate" ngModel>
      </div>
      <button type="submit" class="btn btn-outline-success" name="button">Registrase</button>
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
