<div class="contantainer-fluid" *ngIf="auth.user$ | async as user">
  <div class="d-block">
    <div class="b-card">
      <div class="col-12 text-center">
        <img class="user-img" [src]="user.image">
      </div>
      <div class="col-12 text-center">
        <span class="txt-name">{{user.fullName}}</span>
      </div>
      <div class="col-12 text-center mb-5">
        <span>{{user.employeeNumber}}</span>
      </div>
      <div class="d-flex">
          <div class="col-6 mb-5">
            <label for="">Planta</label>
            <div class="d-block">
                <span>{{user.idPlant}}</span>
            </div>
          </div>
        <div class="col-6 mb-5">
          <label for="">Departamento</label>
          <div class="d-block">
            <span>{{user.idDepartment}}</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <label for="">Fecha de Nacimiento</label>
        <div class="d-block">
        <span>{{user.birthDate}}</span>
      </div>
      </div>
      <div class="col-12 mt-3">
        <div class="form-group" style="text-align: center;">
          <button class="btn btn-primary" (click)="activarNotificaciones()">Activar las notificaciones</button>
        </div>
      </div>
    </div>
  </div>
</div>
