<div class="contantainer-fluid" *ngIf="auth.user$ | async as user">
  <div class="d-block">
    <div class="b-card">
      <div class="col-12 text-center">
        <img class="user-img" [src]="user.image">
      </div>
      <div class="col-12 text-center">
        <span class="txt-name">{{user.fullName}}</span>
      </div>
      <div class="col-12 text-center">
        <span>{{user.employeeNumber}}</span>
      </div>
      <div class="d-flex">
          <div class="col-6 text-center">

            <div class="d-block">
              <div><span>PLANTA</span></div>
              <div class="sunket">
                <span>{{user.idPlant}}</span>
              </div>

            </div>

          </div>

        <div class="col-6 text-center sunket">
          <span>
            {{user.idDepartment}}
          </span>
        </div>
      </div>
      <div class="col-12 text-center">
        <span>{{user.birthDate}}</span>
      </div>
    </div>
  </div>
</div>
