<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Plants</h1>
                    <form #plantForm="ngForm" (ngSubmit)="onSubmit(plantForm)">
                        <input type="hidden" name="$key" #$key=ngModel [(ngModel)]="firebaseService.selectPlant.$key">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="firebaseService.selectPlant.name" placeholder="add Plant">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="number" #number="ngModel" [(ngModel)]="firebaseService.selectPlant.number" placeholder="add Number">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-plus-circle"></i> Add A Plant
                            </button><br>
                            <button class="btn btn-secondary" type="reset" (click)="resetForm(plantForm)">
                                <i class="fas fa-sync-alt"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <img class="sanmina-logo" src="assets/images/sanmina-logo.png" width="320" alt="">
        <div class="card col-md-8">
            <div class="card-body scroll">
                <h6 class="text-center">List of Plant</h6>
                <table class="table table-sm table-hover table-striped mb-0">
                    <tbody>
                        <tr *ngFor="let plant of plantList">
                            <td>{{plant.name}}</td>
                            <td>{{plant.number}}</td>
                            <td>
                                <a class="btn btn-secondary text-white" (click)="onEditPlant(plant)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger text-white" (click)="deletePlant(plant.$key)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>