


<form [formGroup]="formaNoticia">

  <div class="form-group">
    <strong class="text-secondary">Titulo</strong>
    <div class="FieldElement">
      <input  type="text" formControlName="titulo" class="form-control inputsform">
    </div>
  </div>

  <div class="form-group">
    <strong class="text-secondary">Url de Imagen</strong>
    <div class="FieldElement">
      <input type="text" formControlName="urlImg"  class="form-control inputsform">
    </div>
  </div>

  <div style="text-align: center;"> 

    <button (click)="verificarImagen()" class="btn btn-success">
      Validar Imagen
    </button>

    <br>
    <br>

    <div class="card" style="width: 100%; " *ngIf="imagen != '' ">
      <div class="card-body">

        <img (error)="imgError()" width="350px" height="300" [src]="imagen" alt="">

    </div>
  </div>

  </div>

  <div class="form-group">
    <strong class="text-secondary">Categoria</strong>
    <div class="FieldElement">
      <select formControlName="categoria" class="form-control inputsform"  >
        <option ngValue="salud"  >Salud</option>
        <option  ngValue="transprte" >Transporte</option>
        <option  ngValue="comedor" >Comedor</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <strong class="text-secondary">¿Encuesta?</strong>
    <div class="FieldElement">
      <select formControlName="encuesta" class="form-control inputsform"  >
        <option ngValue="true">Si</option>
        <option ngValue="false" selected>No</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <strong class="text-secondary">Descripcion</strong>
    <textarea formControlName="descripcion" class="form-control" rows="9" cols="90"></textarea>
  </div>


  <div class="form-group">
    <strong class="text-secondary">Fecha de expiracion</strong>
    <input type="date" formControlName="endDate" class="form-control inputsform">
  </div>


 


</form>




  <p style="text-align: center; font-size: bold;"> Datos requeridos para la notificacion </p>
   
  <div class="card" style="width: 100%; ">
    <div class="card-body">

     <form [formGroup]="formaNoticia">

      <div class="form-group">
        <label >Titulo</label>
        <input type="email" class="form-control" formControlName="tituloNotificacion" >
      </div>

      <div class="form-group">
        <label >Contenido</label>
        <input type="email" class="form-control" formControlName="cuerpo" >
      </div>

    </form>
  
  
    </div>

  </div>


     <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#todos" class="nav-link active" data-toggle="tab" (click)="tabSeleccionado='todos'" >
          Todos
        </a>
      </li>
      <li class="nav-item">
        <a href="#usuario" class="nav-link" data-toggle="tab" (click)="tabSeleccionado='usuario'" >
          Un usuario
        </a>
      </li>
      <li class="nav-item">
        <a href="#multiple" class="nav-link" data-toggle="tab" (click)="tabSeleccionado='multiple'">
          Multiple
        </a>
      </li>

      </ul>





            <div class="tab-content" >
              <div class="tab-pane fade show active" id="todos" >
      
                <div class="card" style="width: 100%; ">
                  <div class="card-body">
                   <p style="font-weight: bold; text-align: center;">Todos</p>
      
                   <button (click)="publicarNoticia()" [disabled]="formaNoticia.invalid" class="btn btn-primary btn-block">
                    Publicar noticia y enviar notificaciones a TODOS
                    <i class="fas fa-bell"></i>
                   </button>
      
                   </div>
                </div>
                 
               
          
              </div>
          
          
             
              <div class="tab-pane fade" id="usuario">

                <p style="font-weight: bold;"> Buscar por nombre</p>
               
          
                <div class="input-group">
                  
                  <input type="text" class="form-control" [(ngModel)]="nombreUsuario" placeholder="Escribe el nombre del usuario">
                  <div class="input-group-append">
                    <button (click)="buscarUsuario()" class="btn btn-secondary" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
          
          
               <br>
          
          
                <div *ngIf="encontrado" style="text-align: center;" class="alert alert-success" role="alert">
                 Se encontro el usuario!
          
                 <button (click)="publicarNoticia()" [disabled]="formaNoticia.invalid" class="btn btn-primary btn-block">
                 Publicar noticia y notificar a {{nombreUsuario}}
          
                  <i class="fas fa-bell"></i>
                </button>
          
                </div>
                
                <div *ngIf=" encontrado != undefined && ! encontrado " class="alert alert-danger" role="alert">
                  No se encontro al usuario o no ha configurado las notificaciones
                </div>
          
          
                
          
              </div>
      
      
              <div class="tab-pane fade" id="multiple">
                 
              

                   
      <div class="card" style="width: 100%; ">
        <div class="card-body">
          <p style="font-weight: bold; text-align: center;">Departamentos</p>
         <br>

        <div class="form-check-inline " *ngFor="let departamento of departamentos">
          <label class="form-check-label departamentos" >
            <input type="checkbox" class="form-check-input" [(ngModel)]="departamento.check">
            {{departamento.name}}
          </label>
        </div>

        </div>

      </div>
      

      <div class="card" style="width: 100%; ">
        <div class="card-body">
         <p style="font-weight: bold; text-align: center;">Plantas</p>
  
         <br>
  
        <div class="form-check-inline " *ngFor="let planta of plantas">
          <label class="form-check-label plantas" >
            <input type="checkbox" class="form-check-input" [(ngModel)]="planta.check">
            {{planta.name}}
          </label>
        </div>
  
  
        </div>
      </div>
                
                <button (click)="publicarNoticia()" [disabled]="formaNoticia.invalid" class="btn btn-primary btn-block">
                  Publicar noticia y enviar notificaciones

                  <i class="fas fa-bell"></i>
                </button>
          
              </div>
      
            </div>






   


  


 

          
      


      

   
   





      
