

<form [formGroup]="formaNoticia">

  <div class="form-group">
    <strong class="text-secondary">Titulo</strong>
    <div class="FieldElement">
      <input  type="text" formControlName="titulo" class="form-control inputsform">
    </div>
  </div>

  <div class="form-group">
    <strong class="text-secondary">Url de Imagen</strong>
    <div class="FieldElement">
      <input type="text" formControlName="urlImg"  class="form-control inputsform">
    </div>
  </div>

  <div style="text-align: center;"> 

    <button  class="btn btn-success">
      Validar Imagen
    </button>

  </div>

  <div class="form-group">
    <strong class="text-secondary">Categoria</strong>
    <div class="FieldElement">
      <select formControlName="categoria" class="form-control inputsform"  >
        <option ngValue="salud"  >Salud</option>
        <option  ngValue="transprte" >Transporte</option>
        <option  ngValue="comedor" >Comedor</option>

      </select>
    </div>
  </div>


 


</form>





  <p style="text-align: center; font-size: bold;"> Datos requeridos para la notificacion </p>
   

     <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#todos" class="nav-link active" data-toggle="tab" >Todos</a>
      </li>
      <li class="nav-item">
        <a href="#usuario" class="nav-link" data-toggle="tab" >Un usuario</a>
      </li>
      <li class="nav-item">
        <a href="#multiple" class="nav-link" data-toggle="tab" >Multiple</a>
      </li>

      <div class="card" style="width: 100%; ">
        <div class="card-body">
    
         <form [formGroup]="formaNoticia">
    
          <div class="form-group">
            <label for="exampleInputEmail1">Titulo</label>
            <input type="email" class="form-control" formControlName="tituloNotificacion" >
          </div>
    
          <div class="form-group">
            <label for="exampleInputEmail1">Contenido</label>
            <input type="email" class="form-control" formControlName="cuerpo" >
          </div>
    
    
    
    
        </form>
      
      
        </div>
    
      </div>




     <div class="row" >
      <div class="col-lg-12">


        <div class="row">
          <div class="col-md-12">


            <div class="tab-content" >
              <div class="tab-pane fade show active" id="todos" style="text-align: center;">
      
                <div class="card" style="width: 100%; ">
                  <div class="card-body">
                   <p style="font-weight: bold; text-align: center;">Todos</p>
      
                   <button  [disabled]="formaNoticia.invalid" class="btn btn-primary">
                    Enviar
                   </button>
      
                   </div>
                </div>
                 
               
          
              </div>
          
          
             
          
          
          
              <div class="tab-pane fade" id="usuario">
                 
                <!-- <div class="form-group">
                  <label for="exampleInputEmail1">Token del usuario</label>
                  <input type="text" class="form-control" [(ngModel)]="usuarioToken" >
                </div> -->
                
                <button [disabled]="formaNoticia.invalid" class="btn btn-primary">
                  Enviar
                </button>
          
              </div>
      
      
              <div class="tab-pane fade" id="multiple">
                 
              

                   
      <div class="card" style="width: 100%; ">
        <div class="card-body">
          <p style="font-weight: bold; text-align: center;">Departamentos</p>
         <br>

        <div class="form-check-inline " *ngFor="let departamento of departamentos">
          <label class="form-check-label departamentos" >
            <input type="checkbox" class="form-check-input" [(ngModel)]="departamento.check">
            {{departamento.name}}
          </label>
        </div>

        </div>

      </div>
      

      <div class="card" style="width: 100%; ">
        <div class="card-body">
         <p style="font-weight: bold; text-align: center;">Plantas</p>
  
         <br>
  
        <div class="form-check-inline " *ngFor="let planta of plantas">
          <label class="form-check-label plantas" >
            <input type="checkbox" class="form-check-input" [(ngModel)]="planta.check">
            {{planta.name}}
          </label>
        </div>
  
  
        </div>
      </div>
                
                <button [disabled]="formaNoticia.invalid" class="btn btn-primary">
                  Enviar
                </button>
          
              </div>
      
            </div>




          </div> 
        </div> 




      </div> 
    </div> 

   


  


 

          
      


      

   
   





      
