<div id="contenedor" class="row contenedor">
    <div class="col-lg-12">
        <div class="newsdiv" *ngFor="let news of publications;let i=index">
         
            <div class="row">
                <div class="col-xs-4 mod">
                    <p class="user"><img class="userr" src="{{news.admin.image}}" alt=""> {{news.admin.name}}</p>
                </div>
                <div class="col-xs-3  exp">
                    <span class="expiracion">Creada el {{news.startDate}}</span>

                    <i class="far fa-trash-alt" style="color:red" (click)="delete(news.key,news.title)"></i>
                    <i class="far fa-edit"      style="color:orange" (click)="update(news)" ></i>

                    <!-- <span class="expiracion" *ngIf="news.time===0">Expirara hoy</span> -->
                </div>
               
            </div>
            <div class="row descriptiondiv" *ngIf="news.encuesta.includes('true')">
                <div class="col-lg-12 ">
                    <p style="font-size: 1em; text-align: center;"><strong class="titlep">{{news.title}}. </strong> <br>
                        {{news.description}}</p>
                </div>
            </div>
            <div class="row descriptiondiv" *ngIf="news.encuesta.includes('false')">
                <div class="col-lg-12 ">
                    <p class="descriptionp"><strong class="titlep">{{news.title}}. </strong>{{news.description}}</p>
                </div>
            </div>
            <div class="row imgP" *ngIf="news.encuesta.includes('false')">
                <img *ngIf="news.image!=null  && news.video==''" src="{{news.image}}" alt="" class="newsimages">
                <img *ngIf="news.urlimg!=null && news.video==''"
                    src="https://lh3.google.com/u/0/d/{{news.urlimg}}=w1920-h927-iv1" alt="" class="newsimages">
                <!-- <video *ngIf="news.urlimg.includes('https')==false && news.image.includes('.mp4')==true || news.image.includes('.avi')==true && news.video==undefined" src="{{news.image}}" controls class="newsimages"> -->
                <!-- Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.</video> -->
                <img class="newsimages" id="video" *ngIf="news.video!=''" src="assets/images/preview.jpg">
            </div>
            <div class="row">
                <!-- <div class="col-4 offset-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="filterOption('all')" type="button" class="btn btn-secondary"
                            clicked>All</button>
                        <button (click)="filterOption('like')" type="button" class="btn btn-secondary">Likes</button>
                        <button (click)="filterOption('dislike')" type="button" class="btn btn-secondary">Dislikes</button>
                    </div>

                </div> -->
                <div class="col-1 offset-2">
                <button (click)="changeTable()" type="button" class="btn btn-secondary">{{change}}</button>

                </div>
                <div class="col-4 offset-4">
                    <button (click)="exportCSV(news)" type="button" class="btn btn-secondary">Download in CSV</button>
                
                </div>
            </div>
            <div *ngIf="change=='Stadistics'" class="row peaple " >
                <!-- <div  *ngFor="let p of news.like;let i=index">
                <div class="col-1">
                    <p class="user"><img class="userr" src="{{p.img}}" alt=""> {{p.name}}</p>
                </div>
            </div> -->
                <div class="col-8 offset-2 ">

                    <table class="table ">
                        <thead>
                            <tr>
                                <th>N. Employee </th>
                                <th>Photo</th>
                                <th>Full Name</th>
                                <th id="space">Reaction</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="reactions=='like'">
                            <tr *ngFor="let p of news.like;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i class="fas fa-heart text-danger likeicons"></i></td>
                                <!-- fa-heart-broken -->
                            </tr>
                        </tbody>
                        <tbody *ngIf="reactions=='all'">
                            <tr *ngFor="let p of news.allLikes;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i *ngIf="p.like==true" class="fas fa-heart text-danger likeicons"></i> <i
                                        *ngIf="p.like==false" class="fas fa-heart-broken text-danger likeicons"></i>
                                </td>
                                <!-- fa-heart-broken -->
                            </tr>
                        </tbody>
                        <tbody *ngIf="reactions=='dislike'">
                            <tr *ngFor="let p of news.dislike;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i class="fas fa-heart-broken text-danger likeicons"></i></td>
                                <!-- fa-heart-broken -->
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
            <div *ngIf="change=='Table'" class="row">
                <div class="col-lg-10 offset-1 ">
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-4 offset-1 fixed-bottom">
        <p id="esc">{{reactions}}</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="filterOption('all')" type="button" class="btn btn-secondary"
                clicked>All</button>
            <button (click)="filterOption('like')" type="button" class="btn btn-secondary">Likes</button>
            <button (click)="filterOption('dislike')" type="button" class="btn btn-secondary">Dislikes</button>
        </div>

    </div>
</div>
<div id="contenedor1"></div>