<div id="contenedor" class="row contenedor">
  <div class="col-lg-12">
    <div class="newsdiv" *ngFor="let news of publications;let i=index">

      <div class="row">
        <div class="col-xs-7 mod">
          <p class="user"><img class="userr" src="{{news.admin.image}}" alt=""> {{news.admin.name}}</p>
        </div>
        <div class="col-xs-3  exp">
          <!-- <span class="expiracion">Creada el {{news.startDate}}</span> -->

          <i class="far fa-trash-alt" style="color:red" (click)="delete(news.key,news.title)"></i>
          <i type="button" class="far fa-edit" data-toggle="modal" data-target="#staticBackdrop" style="color:orange"
            (click)="update(news)"></i>

          <!-- <span class="expiracion" *ngIf="news.time===0">Expirara hoy</span> -->
        </div>

      </div>

      <div class="row descriptiondiv" *ngIf="news.encuesta.includes('true')">
        <div class="col-lg-12 ">
          <p style="font-size: 1em; text-align: center;"><strong class="titlep">{{news.title}}. </strong> <br>
            {{news.description}}</p>
        </div>
      </div>

      <div class="row" *ngIf="news.encuesta.includes('true')">
        <div class="col-8" style="text-align: center;" style="max-width: 250px;">
          <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="news.single" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            [yScaleMax]="news.like.length+news.dislike.length" [animations]="false" >
          </ngx-charts-bar-vertical>
        </div>
      </div>
      <div class="row imgP" *ngIf="news.encuesta.includes('false')">
        <img *ngIf="news.image" src="{{news.image}}" alt="" class="newsimages">
        <img *ngIf="news.urlimg" src="https://lh3.google.com/u/0/d/{{news.urlimg}}=w1920-h927-iv1" alt="" class="newsimages">
        <!-- <video *ngIf="news.urlimg.includes('https')==false && news.image.includes('.mp4')==true || news.image.includes('.avi')==true && news.video==undefined" src="{{news.image}}" controls class="newsimages"> -->
        <!-- Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.</video> -->
        <img class="newsimages" id="video" *ngIf="news.video" src="assets/images/preview.jpg">

      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="navlikes">
            <p type="button" (click)="getReacciones(news.like,news.dislike,news.allLikes)" data-toggle="modal"
              data-target="#staticBackdrop1">
              <i class="fas fa-heart  likeicons" style="color:rgb(150, 4, 4)"></i>
              <i class="fas fa-heart-broken  likeicons" style="color: rgb(233, 77, 77);"></i>
              {{news.like.length + news.dislike.length}} personas reaccionaron </p>

          </div>
        </div>
      </div>
      <div class="row descriptiondiv" *ngIf="news.encuesta.includes('false')">
        <div class="col-lg-12 ">
          <p class="descriptionp"><strong class="titlep">{{news.title}}. </strong>{{news.description}}</p>
        </div>
      </div>
      <!-- <div class="row">
                <div class="col-1 offset-2">
                <button (click)="changeTable()" type="button" class="btn btn-secondary">{{change}}</button>

                </div>
                <div class="col-4 offset-4">
                    <button (click)="exportCSV(news)" type="button" class="btn btn-secondary">Download in CSV</button>

                </div>
            </div> -->
      <!-- <div *ngIf="change=='Stadistics'" class="row peaple " >
                <div class="col-8 offset-2 ">

                    <table class="table ">
                        <thead>
                            <tr>
                                <th>N. Employee </th>
                                <th>Photo</th>
                                <th>Full Name</th>
                                <th id="space">Reaction</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="reactions=='like'">
                            <tr *ngFor="let p of news.like;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i class="fas fa-heart text-danger likeicons"></i></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="reactions=='all'">
                            <tr *ngFor="let p of news.allLikes;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i *ngIf="p.like==true" class="fas fa-heart text-danger likeicons"></i> <i
                                        *ngIf="p.like==false" class="fas fa-heart-broken text-danger likeicons"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="reactions=='dislike'">
                            <tr *ngFor="let p of news.dislike;let i=index">
                                <th>{{p.number}}</th>
                                <td><img class="userr" src="{{p.img}}" alt=""></td>
                                <td>{{p.name}}</td>
                                <td> <i class="fas fa-heart-broken text-danger likeicons"></i></td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div> -->
      <!-- <div *ngIf="change=='Table'" class="row">
                <div class="col-lg-10 offset-1 ">
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
            </div> -->

    </div>

  </div>
  <!-- <div class="col-4 offset-1 fixed-bottom">
        <p id="esc">{{reactions}}</p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="filterOption('all')" type="button" class="btn btn-secondary"
                clicked>All</button>
            <button (click)="filterOption('like')" type="button" class="btn btn-secondary">Likes</button>
            <button (click)="filterOption('dislike')" type="button" class="btn btn-secondary">Dislikes</button>
        </div>

    </div> -->
</div>
<div id="contenedor1">
  <!--  -->
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Personas que Reaccionaron</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a style="color:black" class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                aria-controls="home" aria-selected="true">Todas</a>
            </li>
            <li class="nav-item" role="presentation">
              <a *ngIf="likes!=undefined" style="color:black" class="nav-link" id="profile-tab" data-toggle="tab"
                href="#likes" role="tab" aria-controls="profile" aria-selected="false"><i
                  class="fas fa-heart  likeicons text-danger"></i> {{likes.length}}</a>
              <a *ngIf="likes==undefined" style="color:black" class="nav-link" id="profile-tab" data-toggle="tab"
                href="#likes" role="tab" aria-controls="profile" aria-selected="false"><i
                  class="fas fa-heart  likeicons text-danger"></i> 0</a>
            </li>
            <li class="nav-item" role="presentation">
              <a *ngIf="dislikes!=undefined" style="color:black" class="nav-link" id="contact-tab" data-toggle="tab"
                href="#dislike" role="tab" aria-controls="contact" aria-selected="false"><i
                  class="fas fa-heart-broken text-danger likeicons"></i> {{dislikes.length}}</a>
              <a *ngIf="dislikes==undefined" style="color:black" class="nav-link" id="contact-tab" data-toggle="tab"
                href="#dislike" role="tab" aria-controls="contact" aria-selected="false"><i
                  class="fas fa-heart-broken text-danger likeicons"></i> 0</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
              <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                  <tr *ngFor="let p of allLikes;let i=index">
                    <th>{{p.number}}</th>
                    <td>
                      <img class="userr" src="{{p.img}}" alt="">
                      <i *ngIf="p.like==true" class="fas fa-heart text-danger likeicons rea"></i> <i
                        *ngIf="p.like==false" class="fas fa-heart-broken text-danger likeicons rea"></i>
                    </td>
                    <td>{{p.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="profile-tab">
              <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                  <tr *ngFor="let p of likes;let i=index">
                    <th>{{p.number}}</th>
                    <td>
                      <img class="userr" src="{{p.img}}" alt="">
                      <i class="fas fa-heart text-danger likeicons rea"></i>
                    </td>
                    <td>{{p.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="dislike" role="tabpanel" aria-labelledby="contact-tab">
              <table class="table table-borderless">
                <thead>
                </thead>
                <tbody>
                  <tr *ngFor="let p of dislikes;let i=index">
                    <th>{{p.number}}</th>
                    <td>
                      <img class="userr" src="{{p.img}}" alt="">
                      <i class="fas fa-heart-broken text-danger likeicons rea"></i>
                    </td>
                    <td>{{p.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editando Publicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #newsForm="ngForm" name="newsForm" (submit)="updateAll(newsForm.value)">

          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <strong class="text-secondary">Titulo</strong>
                  <div class="FieldElement">
                    <input id="title" type="text" name="title" ngModel class="form-control inputsform">
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-12">
                                  <div class="form-group">
                                    <strong class="text-secondary">Video URL de youtube</strong>
                                    <div class="FieldElement">
                                      <input id="video" type="text" name="video" ngModel class="form-control inputsform" >
                                    </div>
                                  </div>
                                </div> -->
              <div class="col-md-12">
                <div class="form-group">
                  <strong class="text-secondary">URL de Imagen</strong>
                  <div class="FieldElement">
                    <input id="urlimg" type="text" name="urlimg" ngModel class="form-control inputsform">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <strong class="text-secondary">Categoria</strong>
                  <div class="FieldElement">
                    <select name="categoria" ngModel id="categoria" class="form-control inputsform"  >
                      <option ngModel value="salud">Salud</option>
                      <option ngModel value="transporte" >Transporte</option>
                      <option ngModel value="comedor" >Comedor</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">

                <div class="form-group">
                  <strong class="text-secondary">¿Encuesta?</strong>
                  <div class="FieldElement">
                    <select id="encuesta" name="encuesta" ngModel class="form-control inputsform"
                      value="{{ob.encuesta}}">
                      <option ngModel value="true">Si</option>
                      <option ngModel value="false" selected>No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <strong class="text-secondary">Descripcion</strong>
                  <textarea id="description" name="description" ngModel class="form-control" rows="9"
                    cols="90"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <strong class="text-secondary">Fecha de expiracion</strong>
                  <input id="endDate" type="date" name="endDate" ngModel class="form-control inputsform">
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button id="cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--  -->
</div>
