<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Departaments</h1>
                    <form #departamenForm="ngForm" (ngSubmit)="onSubmit(departamenForm)">
                        <input type="hidden" name="$key" #$key=ngModel [(ngModel)]="firebaseService.selectDepartament.$key">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="firebaseService.selectDepartament.name" placeholder="add Plant">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-plus-circle"></i> Add A Departament
                            </button><br>
                            <button class="btn btn-secondary" type="reset" (click)="resetForm(departamenForm)">
                                <i class="fas fa-sync-alt"></i> Reset
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="card col-md-8">
            <div class="card-body scroll">
                <h6 class="text-center">List of Departaments</h6>
                <table class="table table-sm table-hover table-striped mb-0 ">
                    <tbody>
                        <tr *ngFor="let dep of departamentList">
                            <td>{{dep.name}}</td>
                            <td>
                                <a class="btn btn-secondary text-white" (click)="onEditDepartament(dep)">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger text-white" (click)="deleteDepartament(dep.$key)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>