<div class="page-wrapper chiller-theme toggled">
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">User Info</a>
        <div id="close-sidebar" (click)="closeSideBar()">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Leonardo<strong>Rigby</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
              <i class="fas fa-moon"></i>
                <label class="switch">
                  <input type="checkbox" (click)="changeColor()">
                  <span class="slider round"></span>
                </label>
              <i class="fas fa-sun"></i>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list"></i>
              <span>Noticias</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-bus"></i>
              <span>Transporte</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-coffee"></i>
              <span>Comedor</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="far fa-gem"></i>
              <span>Personal</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-heartbeat"></i>
              <span>Salud</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-list-alt"></i>
              <span>Memos</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div> -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 center">
          <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" (click)="openSideBar()">
            <i class="fa fa-bars"></i>
          </a>
          <h2><span class="text-white">Sanmina</span> <span> | News</span></h2>
        </div>
      </div>
      <hr>
      <hr>
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="col-md-12 newsdiv"></div>
        </div>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>
<div class="navbar">
  <a href="#home" ><i><img src="../assets/icons/bus.ico" alt=""></i></a>
  <a href="#news"><i class="fa fa-heartbeat"></i></a>
  <a href="#contact"><i ><img src="../assets/icons/disposicion.png" alt=""></i></a>
  <a href="#contact"><i><img src="../assets/icons/eat.png" alt=""></i></a>
</div>
<!-- page-wrapper -->
<router-outlet></router-outlet>
