<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <form action="">
        <label for="">Username</label>
        <div class="input"><span class="fas fa-user"></span>
        <input type="text" name="" value="" class="form-control">
        </div>
        <label for="">Password</label>
        <input type="text" name="" value="" class="form-control">
        <input type="text" name="" id="" value="Ingresar" class="btn btn-success">
      </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
