<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4 text-center">
      <h2>LOGIN WITH: </h2>
      <hr>
    </div>
    <div class="col-lg-4">

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/icons/google.png" alt="" (click)="auth.googleSignin()">
      Google |
      <img src="assets/icons/facebook.png" alt="" (click)="auth.facebookSignin()">
      Facebook
      <br>
      <a href="" routerLink="/register">Register New Account</a>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
