<span  class="mr-3"><i class="fas fa-chevron-left text-primary"></i><a routerLink="/register" href="">
    Regresar</a></span>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="col-md-12">
          <h2 class="text-center">Terminos y Condiciones</h2>
          <h3 class="text-center"><strong>POLÍTICA DE CONDUCTA DE USUARIOS</strong></h3>
          <p>Como usuario usted acepta seguir, respetar y salvaguardar nuestros lineamientos conocidos y aplicables de
            nuestro Código de Conducta y
            Ética Empresarial en toda interacción en la “APP de Comunicación de Empleados - Sanmina”.</p>
          <ul>
            <li>
              <p>La aplicación tiene como objetivo notificar información oficial únicamente a colaboradores activos de
                la compañía, así como el
                fortalecimiento de nuestra cultura y desarrollo organizacional.
              </p>
            </li>
            <li>
              <p>La información aquí compartida tendrá propósitos laborales y deberá notificar a los responsables de la
                misma cualquier anomalía y/o funcionamiento incorrecto por los conductos oficiales.
              </p>
            </li>
            <li>
              <p>La Empresa espera que todos los usuarios demuestren buen criterio para garantizar la seguridad y el
                bienestar de los empleados, manteniendo un ambiente laboral
                y una organización de cooperación, eficiencia, positivismo, armonía y productividad. </p>
            </li>
            <li>
              <p>Las violaciones al Código de Conducta y Ética Empresarial y de otras políticas o procedimientos de la
                Empresa por parte de los usuarios pueden dar lugar a medidas disciplinarias.</p>
            </li>
          </ul>
          <i>Consulte nuestros manuales para obtener información más detallada.</i>
          <br>
          <br>
          <h3 class="text-center"><strong>RESPONSABILIDAD AL USO DE INFORMACIÓN</strong></h3>
          <p><strong>El Titular debe tomar las precauciones necesarias para evitar el acceso no autorizado o uso
              indebido por parte de terceros.</strong></p>
          <ul>
            <li>
              <p>La información aquí compartida tendrá propósitos laborales y deberá notificar a los administradores
                cualquier anomalía o funcionamiento incorrecto por los conductos oficiales
              </p>
            </li>
            <li>
              <p>Todo usuario es responsable de los accesos y acciones resultantes que ocurran en el uso de su sesión,
                por ello es importante proteger y cuidar sus credenciales de identificación, así como mantener el acceso
                personal a usuarios autorizados y en activo dentro de la aplicación.

              </p>
            </li>
            <li>
              <p>Compartir con otros usuarios sus credenciales de acceso está prohibido. El usuario continúa siendo
                responsable de todas las actividades realizadas por otros usuarios en caso de haber compartido sus
                credenciales. La mala administración de cualquier usuario que atente contra las políticas de
                confidencialidad y normas establecidas
                podría ser sujeta a investigación por ir en contra de los propósitos legítimos del negocio. </p>
            </li>
            <li>
              <p>En caso de sospecha por alguna violación de seguridad deberá dar informe inmediato al departamento
                administrador de esta aplicación (IT o Recursos Humanos).</p>
            </li>
          </ul>
          <br>
          <i>*Todo lo anterior aplica para cualquier contenido en texto, imágenes, vídeos, enlaces o cualquier semejante.</i>
          <br>
          <h3 class="text-center"><strong>CONTENIDO NO PERMITIDO</strong></h3>
          <ul>
            <li>
              <p>El contenido publicado no puede promover el odio ni incitar a la violencia contra personas o grupos por su 
                origen étnico, religión, discapacidad, sexo, edad, condición social, orientación sexual o identidad de género.</p>
            </li>
            <li>
              <p>El contenido no se puede utilizar para intimidar o acosar a otras personas, 
                incluidas las amenazas físicas o la divulgación de información privada que se pudiera usar para llevar a cabo las amenazas implícitas.</p>
            </li>
            <li>
              <p>Contenido que desprestigie a una persona, un lugar o una cosa, o que moleste al lector o al espectador.</p>
            </li>
            <li>
              <p>Contenido que incluya lenguaje o gestos obscenos, soeces u ofensivos.
              </p>
            </li>
            <li>
              <p>Contenido que promueva o fomente la violencia, o que represente gráficamente lesiones, maltrato a personas o animales, o actos violentos.
              </p>
            </li>
            <li>
              <p>Contenido sexual sugerente o explícito.
              </p>
            </li>
            <li>
              <p>El contenido no puede incluir palabras malsonantes, jerga de carácter sexual.
              </p>
            </li>
          </ul>
          <br>
          <br>
           <h3 class="text-center"><strong>IMPORTANTE</strong></h3>
           <p>La información expuesta por administradores y/o usuarios es restringida, de distribución controlada y confidencial.</p>
           <p>Los datos personales recabados serán tratados de tal manera que su seguridad, confidencialidad e integridad esté garantizada.</p>
        </div>
      </div>
  </div>

</div>