@import url(https://fonts.googleapis.com/css?family=Lato);

h1{
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-family: "Lato";
}
.infoimg{
  margin: 12px;
  height: 63px;
  width: 63px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px 1px  rgba(161, 161, 161, 0.38);
  -moz-box-shadow: 0px 2px 2px 1px  rgba(161, 161, 161, 0.38);
  box-shadow: 0px 2px 2px 1px  rgba(161, 161, 161, 0.38);
}
.newsdiv{
  // background-color: rgb(255,255,255);
	padding: 0;
	width: 100%;
	max-width: 720px;
	border-radius: 3px;
	margin-bottom: 72px;
}
.titlefixed{
  position: fixed;
}
.tbl-content{
  position: fixed;
  // height: 270px;
  border-radius: 5px;
  margin-top: 0px;
  width: 360px;
  // padding-left: 27px;
  // padding-right: 1%;
  // padding-top: 9px;
  // background-color: white;

}
.divinfo{
  border: 1px solid #DBDBDB;
  border-radius: 5px;
  padding-top: 12px;
  padding-left: 9px;
  background-color: rgb(255,255,255);
  margin-top: 72px;
}
.divcontent{
  margin-top: 9px;
  overflow-y: auto;
  height: 234px;

}
.modal{

}
.modal-dialog{
  width: 300px;
  padding: 0;
}
.modal-header{
  padding: 0;
}
.modalimg{
  width: 100%;
  height: 180px;
}
.rowusers{
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 18px;
  padding-left: 18px;
}
.divauth{
  padding-top: 21px;
}
.pointer{
  cursor: pointer;
}
.padbottom{
  padding-top: 18px;
}
.roundimg{
  padding: 7px;
  box-shadow: 0px 2px 2px 1px  rgba(161, 161, 161, 0.38);
  border-radius: 50%;
}
.roundicon{
  font-size: 21px;
  padding: 13px;
  box-shadow: 0px 2px 2px 1px  rgba(161, 161, 161, 0.38);
  border-radius: 50%;
}
.roundimg:hover{
  background-color: rgb(191, 191, 191);
}
.roundicon:hover{
  background-color: rgb(191, 191, 191);
}
