<div class="row newsrow" *ngIf="auth.user$ | async as user">
  <div class="col-lg-12">
    <div class="newsdiv">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="text-dark">USUARIOS</h1>
          <br>
          <hr>
        </div>
        <div class="col-12">
          <div class="b-search">
            <input type="text" (input)="searchUsers()" [(ngModel)]="searchValue" class="form-control" placeholder="Ingrese nombre de usuario"/>
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row rowusers"  *ngFor="let info of users" style="white-space:nowrap">
            <div class="col-lg-2 padding-left"><img class="infoimg" src="{{info.image}}"/></div>
            <div class="col-lg-6 padding-left">
              <strong>{{info.employeeNumber}}</strong>
              <p>{{info.fullName}}</p>
              <strong>{{info.idRole}}</strong>
              <p>{{info.email}}</p>
            </div>
            <!-- <div class="col-lg-2" style="border: 1px solid green;"></div> -->

              <!-- <div class="divauth" (click)="autorizedUser(info, info.id)">
                <img class="pointer" src="assets/icons/passed.png" alt="" *ngIf="info.authorized==true">
                <img class="pointer" src="assets/icons/block.png" alt="" *ngIf="info.authorized==false">
              </div> -->
            <div class="col-lg-2 text-center">
              <div class="row">
                <div class="col-6 col-lg-12">
                  <div class="divauth" (click)="autorizedUser(info, info.id)">
                    <img class="pointer roundimg" src="assets/icons/passed.png" alt="" *ngIf="info.authorized==true">
                    <img class="pointer roundimg" src="assets/icons/block.png" alt="" *ngIf="info.authorized==false">
                  </div>
                </div>
                <div class="col-6 col-lg-12 padbottom">
                  <div ><p><i class="fas fa-trash text-danger pointer roundicon" (click)="deleteUser(info.id, info.fullName)"></i></p></div>
                </div>
              </div>
            </div>
            <div class="col-lg-2" *ngIf="user.idRole=='superUser'">
              <select class="form-control" name="rol" (change)="changeRol(info, $event.target.value)">
                <option disabled value="" >Rol</option>
                <option *ngFor="let rol of roles" [value]=rol.name>{{rol.name}}</option>
              </select>
            </div>
            <!-- The Modal -->
            <!-- <div class="modal fade" id="myModal">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                  <div class="modal-header">
                    <h4 class="modal-title">Roles de usuario</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <div class="modal-body">

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Aceptar</button>
                  </div>

                </div>
              </div>
            </div> -->

            <!-- <div style="display:inline;">
              <img class="infoimg" src="{{info.image}}"/>
            </div>
            <div style="display:inline; white-space:nowrap;">
              <p><strong>{{info.employeeNumber}} </strong><span> {{info.fullName}}</span></p> -->
              <!-- <img src="assets/icons/cog.ico" alt="" data-toggle="modal" data-target="#exampleModalCenter"> -->
              <!-- <strong> {{info.employeeNumber}} </strong> -->
              <!-- <p class="text-dark">{{info.fullName}}</p> -->
              <!-- Button trigger modal -->
              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Launch demo modal
              </button> -->

              <!-- Modal -->
              <!-- <div class="modal fade"   id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">

                      <img class="modalimg" src="{{info.image}}"/>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
