/* You can add global styles to this file, and also import other style files */

:root{
  --container-color: white;
  // --sidebar-color: rgb(244, 245, 249);
  --sidebar-color: white;
  --header-text-color: black;
  --body-text-color: rgb(108, 117, 125);
  --footer-text-color: rgb(201, 206, 217);
  --icons-color: #3b4245;
  --navbar-color: white;
  --headertext-color: #BF0404;
  --headertext-color2: #3b4245;
  --input-text-color: rgb(108, 117, 125);
}
body{
  background-color: var(--container-color);
}
