/* You can add global styles to this file, and also import other style files */

:root{
  --container-color: white;
  --sidebar-color: white;
  --header-text-color: black;
  --body-text-color: rgb(108, 117, 125);
  --footer-text-color: rgb(201, 206, 217);
}
