/* You can add global styles to this file, and also import other style files */

:root{
  --container-color: #F0F2F5;
  // --sidebar-color: rgb(244, 245, 249);
  --sidebar-color: #F0F2F5;
  --header-text-color: black;
  --body-text-color: rgb(108, 117, 125);
  --footer-text-color: rgb(201, 206, 217);
  --icons-color: #3b4245;
  --navbar-color: #F0F2F5;
  --headertext-color: #BF0404;
  --headertext-color2: #3b4245;
  --input-text-color: rgb(108, 117, 125);
  --image1: url("assets/images/sanmina1.jpg");
}
body{
  // background-image: var(--image1);
  background-color: rgb(250, 250, 250);
  background-position: center;
	background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: OpenSansLight;
  src: url("/assets/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url("/assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: NunitoBlack;
  src: url("/assets/fonts/Nunito-Black.ttf");
}
@font-face {
  font-family: NunitoBold;
  src: url("/assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: NunitoRegular;
  src: url("/assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: NunitoSemiBold;
  src: url("/assets/fonts/Nunito-SemiBold.ttf");
}
